$host-left-corner-color: #cedbec;
$host-right-corner-color: #ebf0f3;

$left-corner-color: #b0c4df;
$middle-corner-color: #cfdce5;
$right-corner-color: #b0c4df;

:host {
  display: block;
  min-height: 100vh;

  background: linear-gradient(90deg, $host-left-corner-color 0%, $host-right-corner-color 100%);
}
.dashboard-container-background {
  //display: flex;
  justify-content: center;
  //background: linear-gradient(135deg, $left-corner-color 0%, $right-corner-color 100%);
  align-items: center;
  //min-height: 100vh;
}
